@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

.ant-btn-primary {
  background-color: #8b67f3;
}
.menu-link .anticon {
  display: flex;
  justify-content: center;
}

@media (min-width: 1000px) {
  body {
    overflow: hidden;
  }

  .categories::-webkit-scrollbar {
    display: none;
  }
  .products::-webkit-scrollbar {
    display: none;
  }
}
